#counter{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    font-size: 10em;
    display: block;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: hsl(0, 0%, 10%);
    color: ivory;
    padding: 40px;
    
}
#mydiv{
    text-align: center;
    margin-top: 20px;
    display: block;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: hsl(0, 0%, 10%);
    padding: 25px;

}
.buttons{
    font-size: 1.5em;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #2ecc71;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}
.buttons:hover{
    background-color: hsl(145, 63%, 22%);
    color: white;
}
#reset{
    background-color: #e74c3c;
}
body{
    background-color:#1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}